body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff7fb;
  color: #4a3a43;
}

* {
  box-sizing: border-box;
}

aside {
  width: 230px;
  min-height: 100vh;
  background-color: #d96c9d;
  color: white;
  padding: 25px 20px;
  position: fixed;
  left: 0;
  top: 0;
}

aside h2 {
  margin-top: 0;
  margin-bottom: 35px;
  text-align: center;
  font-size: 30px;
}
aside h2 span {
  color: #490125;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 8px;
  border-radius: 10px;
  cursor: pointer;
  padding: 13px 15px;
  font-weight: 600;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
}
nav li:hover {
  background-color: #c55789;
}

main {
  margin-left: 230px;
  padding: 35px;
}

/****Children Page****/
.children-page {
  max-width: 1100px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.page-header h1 {
  margin-bottom: 5px;
}

.page-header p {
  margin-top: 0;
  color: #8a6f7c;
}
.actions {
  display: flex;
  gap: 10px;
}
.add-button {
  background-color: #d96c9d;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #c55789;
}
.edit-button {
  background-color: #6c5a7b;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}
.delete-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}
.table-container {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 14px;
  background-color: #fff0f6;
  color: #6d4355;
}

td {
  padding: 14px;
  border-bottom: 1px solid #f1dce5;
}

tr:hover {
  background-color: #fff9fc;
}

.edit-form {
  background-color: white;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
  display: flex;
 flex-direction: column;
  gap: 10px;
}
.add-form {
  display: flex;
  flex-direction: column;
}
.edit-form h2 {
  margin-top: 0;
}
.form-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: end;
}
.edit-form input, .edit-form select, .edit-form textarea {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #e5c8d5;
  border-radius: 8px;
}

.save-button,
.cancel-button,
.week-button {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 8px;
}

.save-button {
  background-color: #d96c9d;
  color: white;
}

.cancel-button {
  background-color: #eee;
}

/*Meal Page*/
.week-filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:25px ;
}
.current-week{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.current-week span{
  font-size: 14px;
  color: #452d39;
}
.current-week strong{
  font-size: 18px;
}
.current-week .space{
  margin: 0 5px;
  color: #f19bc4;
}
.previous{
  background-color: #6cd973;
  color: white;
  font-weight: 600;
}
.next{
  background-color: #6cd973;
  color: white;
  font-weight: 600;
}